#views-exposed-form-commerce-reports-sales-sales .views-exposed-widget {
  display: block;
  float: none;
  padding: 0;
}

div.sales-overview {
  display: inline-block;
  width: 33%;
  padding: 2px;
}

div.sales-overview .view-content {
  display: inline-block;
  width: 100%
}
/**
div.sales-overview h1 {
  display: block;
  width: 100%;
  text-transform: uppercase;
  border-bottom: 1px #cccccc solid;
  text-align: left;
}

div.sales-overview table {
  width: 33%;
  display: inline-block;
  border: none;
}

div.sales-overview table tr {
  border: none;
  background: none;
  width: 100%;
}

div.sales-overview table tr th {
  text-transform: none;
  border: none;
  background: none;
}

div.sales-overview table tr td {
  border: none;
  font-size: 100%;
  padding: 16px 10px;
  font-size: 3.8em;
  padding-right: 32px;
}*/
